{{- if .Values.dapr.enabled }}
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kubernetes-secrets
  labels:
    {{- include "todo-chatbot.labels" . | nindent 4 }}
spec:
  type: secretstores.kubernetes
  version: v1
  metadata: []
{{- end }}
