# Database
DATABASE_URL= 'postgresql://neondb_owner:npg_yiMFVjr5B1JW@ep-silent-wind-ahlf2bym-pooler.c-3.us-east-1.aws.neon.tech/Todoagent?sslmode=require&channel_binding=require'


# JWT Configuration
JWT_SECRET=your-secret-key-minimum-32-characters-for-production
JWT_ALGORITHM=HS256
JWT_EXPIRATION_DAYS=7

# CORS Origins (comma-separated)
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=True

# Phase III: AI Chatbot with Cohere
COHERE_API_KEY=Ik1ziqg6vN9wui3DwFsKVtPyHMOR1YNjMXpcTe0o